doctype html
html(lang="en", ng-app='demoApp')
head
  title Angular Easy Form
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel='stylesheet', href='styles/demo.css')
  link(rel='stylesheet', href='styles/docs.css')
body(ng-controller='DemoCtrl')
  .container
    h2 Angular Easy Form
    .row
      .col-md-9
        .bs-docs-section
          h3#supported-controls.page-header Supported controls
          h4 Inputs
          p Most common form control, text-based input fields. Includes support for all HTML5 types:
          ul
            li text
            li password
            li datetime
            li datetimeLocal
            li date
            li month
            li time
            li week
            li number
            li email
            li url
            li search
            li tel
            li color
          .bs-example
            .row
              .col-md-8
                ng-form
                  .form-group
                    easy-input(type='text', ng-model='demo.controls.inputs.text',
                    label='text', placeholder='please enter text', ng-disabled='disabled')

                  .form-group
                    easy-input(type='password', ng-model='demo.controls.inputs.password',
                    label='password', placeholder='please enter password', ng-disabled='disabled')

                  .form-group
                    easy-input(type='datetime', ng-model='demo.controls.inputs.datetime',
                    label='"datetime"', placeholder='please enter datetime', ng-disabled='disabled')

                  .form-group
                    easy-input(type='datetime-local', ng-model='demo.controls.inputs.datetimeLocal',
                    label='datetime local', placeholder='please enter datetime local', ng-disabled='disabled')

                  .form-group
                    easy-input(type='date', ng-model='demo.controls.inputs.date',
                    label='date', placeholder='please enter date', ng-disabled='disabled')

                  .form-group
                    easy-input(type='month', ng-model='demo.controls.inputs.month',
                    label='month', placeholder='please enter Text', ng-disabled='disabled')

                  .form-group
                    easy-input(type='time', ng-model='demo.controls.inputs.time',
                    label='time', placeholder='please enter time', ng-disabled='disabled')

                  .form-group
                    easy-input(type='week', ng-model='demo.controls.inputs.week',
                    label='week', placeholder='please enter week', ng-disabled='disabled')

                  .form-group
                    easy-input(type='number', ng-model='demo.controls.inputs.number',
                    label='number', placeholder='please enter number', ng-disabled='disabled')

                  .form-group
                    easy-input(type='email', ng-model='demo.controls.inputs.email',
                    label='email', placeholder='please enter email', ng-disabled='disabled')

                  .form-group
                    easy-input(type='url', ng-model='demo.controls.inputs.url',
                    label='url', placeholder='please enter date', ng-disabled='disabled')

                  .form-group
                    easy-input(type='search', ng-model='demo.controls.inputs.search',
                    label='search', placeholder='please enter search', ng-disabled='disabled')

                  .form-group
                    easy-input(type='tel', ng-model='demo.controls.inputs.tel',
                    label='tel', placeholder='please enter tel', ng-disabled='disabled')

                  .form-group
                    easy-input(type='color', ng-model='demo.controls.inputs.color',
                    label='color', placeholder='please enter color', ng-disabled='disabled')
              .col-md-4
                pre {{demo.controls.inputs | json}}
          h4 Textarea
          p Form control which supports multiple lines of text. Change rows attribute as necessary.
          .bs-example
            .row
              .col-md-8
                ng-form
                  .form-group
                    easy-input(type='textarea', ng-model='demo.controls.textarea.basic',
                    label='basic', placeholder='please enter something', ng-disabled='disabled')
                  .form-group
                    easy-input(type='textarea-autosize', ng-model='demo.controls.textarea.autosize',
                    label='autosize', placeholder='please enter something', ng-disabled='disabled')
                  .form-group
                    easy-input(type='text-angular', ng-model='demo.controls.textarea.textAngular',
                    label='textAngular', placeholder='please enter something', ng-disabled='disabled')
              .col-md-4
                pre {{demo.controls.textarea | json}}

          h4 Checkboxes and radio
          .bs-example
            .row
              .col-md-8
                ng-form
                  .form-group
                    easy-input(type='checkbox', ng-model='demo.controls.checkboxes.checkbox',
                    label='Boolean', options='checkboxOptions', ng-disabled='disabled')

                  .form-group
                    easy-input(type='checkboxes', name='checkboxesCheckboxes1', ng-model='demo.controls.checkboxes.checkboxes',
                    label='checkboxes', options='checkboxesOptions', ng-disabled='disabled')

                  .form-group
                    easy-input(type='checkboxes', name='checkboxesCheckboxes2', ng-model='demo.controls.checkboxes.checkboxesInline',
                    label='checkboxes inline', options='checkboxesInlineOptions', ng-disabled='disabled')

                  .form-group
                    easy-input(type='radios', name='checkboxesRadios', ng-model='demo.controls.checkboxes.radios',
                    label='radios', options='radiosOptions', ng-disabled='disabled')

                  .form-group
                    easy-input(type='radios', name='checkboxesInlineRadios', ng-model='demo.controls.checkboxes.radiosInline',
                    label='radios inline', options='radiosInlineOptions', ng-disabled='disabled')
              .col-md-4
                pre {{demo.controls.checkboxes | json}}
          h4 Select
          .bs-example
            .row
              .col-md-8
                ng-form
                  .form-group
                    easy-input(type='select', ng-model='demo.controls.select.basic',
                    label='single select', options='selectOptions', ng-disabled='disabled')
                  .form-group
                    easy-input(type='select', ng-model='demo.controls.select.customize',
                    label='single select with customize selectOptions', options='selectSingleCustomizeSelectOptions', ng-disabled='disabled')
                  .form-group
                    easy-input(type='select', ng-model='demo.controls.select.multiple',
                    label='multiple select', options='selectMultipleOptions', ng-disabled='disabled')
              .col-md-4
                pre {{demo.controls.select | json}}

          h4 UI Select
          .bs-example
            .row
              .col-md-8
                ng-form
                  .form-group
                    easy-input(type='ui-select', ng-model='demo.controls.uiSelect.basic',
                    label='single ui-select', options='uiSelectOptions', ng-disabled='disabled')
                  .form-group
                    easy-input(type='ui-select', ng-model='demo.controls.uiSelect.singleProperty',
                    label='single property ui-select', options='uiSelectSinglePropertyOptions', ng-disabled='disabled')
                  .form-group
                    easy-input(type='ui-select', ng-model='demo.controls.uiSelect.multiple',
                    label='multiple select', options='uiSelectMultipleOptions', ng-disabled='disabled')
                  .form-group
                    easy-input(type='ui-select', ng-model='demo.controls.uiSelect.remote',
                    label='Remote Data Basic', options='uiSelectRemoteOptions', ng-disabled='disabled')
                  .form-group
                      //easy-input(type='ui-select-multiple', ng-model='demo.controls.uiSelect.remoteMultiple',
                      //label='"Remote Data Multiple"', options='uiSelectRemoteOptions')

              .col-md-4
                pre {{demo.controls.uiSelect | json}}
          h4 Custom
          .bs-example
        .bs-docs-section
          h3#layouts.page-header Layouts
          h4 Vertical Form
          .bs-example
            ng-form
              .form-group
                easy-input(type='text', ng-model='demo.layout.vertical.text',
                label='Text', placeholder='placeholder', ng-disabled='disabled')

          h4 Horizontal Form
          .bs-example
            ng-form.form-horizontal
              .form-group
                easy-input(type='text', ng-model='demo.layout.horizontal.text', wrapper='horizontal-form'
                label='Text', placeholder='placeholder', ng-disabled='disabled')

          h4 Inline Form
          .bs-example
            ng-form.form-inline
              .form-group
                easy-input(type='text', ng-model='demo.layout.inline.text1', wrapper='inline-form'
                placeholder='placeholder', ng-disabled='disabled')
              .form-group
                easy-input(type='text', ng-model='demo.layout.inline.text2', wrapper='inline-form'
                placeholder='placeholder', ng-disabled='disabled')
              .form-group
                easy-input(type='text', ng-model='demo.layout.inline.text3', wrapper='inline-form'
                placeholder='placeholder', ng-disabled='disabled')
            ng-form.form-inline
              .form-group
                easy-input(type='text', ng-model='demo.layout.inline.text4', wrapper='inline-form'
                label='some long text as label'
                placeholder='placeholder', ng-disabled='disabled')
        .bs-docs-section
          h3#validation.page-header Validation
          h4 Basic
          .bs-example
            .row
              .col-md-8
                ng-form.form(name='validateMethodBasicForm')
                  .form-group
                    easy-input(type='text', name='required', ng-model='demo.validation.basic.required',
                    label='Required', placeholder='Required', validator='required', ng-disabled='disabled')
                  .form-group
                    easy-input(type='text', name='url', ng-model='demo.validation.basic.url',
                    label='URL', placeholder='URL', validator='url', ng-disabled='disabled')
                  .form-group
                    easy-input(type='text', name='email', ng-model='demo.validation.basic.email',
                    label='Email', placeholder='Email', validator='email', ng-disabled='disabled')
                  .form-group
                    easy-input(type='text', name='number', ng-model='demo.validation.basic.number',
                    label='Number', placeholder='Number', validator='number', ng-disabled='disabled')
                  .form-group
                    easy-input(type='checkboxes', name='checkboxes', ng-model='demo.validation.basic.checkboxes',
                    label='Checkbox', validator='required', ng-disabled='disabled', options='checkboxesOptions')
                    pre {{demo.validation.basic.checkboxes}}
                  .form-group
                    easy-input(type='radios', name='radios1', ng-model='demo.validation.basic.radios1',
                    label='Radios', validator='required', ng-disabled='disabled', options='radiosOptions')
                  .form-group
                    easy-input(type='radios', name='radios2', ng-model='demo.validation.basic.radios2',
                    label='Radios', validator='required', ng-disabled='disabled', options='radiosOptions')
                  .form-group
                    easy-input(type='ui-select', name='uiSelectSingleBasic', ng-model='demo.validation.basic.select.basic',
                    label='single ui-select', validator='required', options='uiSelectOptions', ng-disabled='disabled')
                  .form-group
                    easy-input(type='select', name='selectSingleBasic', ng-model='demo.validation.basic.select.basic',
                    label='single select', validator='required', options='selectSingleNumeberOptions', ng-disabled='disabled')
                  .form-group
                    easy-input(type='ui-select', name='uiSelectSingleProperty', ng-model='demo.validation.basic.uiSelect.singleProperty',
                    label='single property ui-select', validator='required', options='uiSelectSinglePropertyOptions', ng-disabled='disabled')
                  .form-group
                    button.btn.btn-primary(easy-submit='validateMethodBasicForm') Submit
              .col-md-4
                pre {{demo.validation.basic | json}}
                pre
                  p form.$pristine = {{validateMethodBasicForm.$pristine}}
                  p form.$dirty = {{validateMethodBasicForm.$dirty}}
                  p form.$valid = {{validateMethodBasicForm.$valid}}
                  p form.$invalid = {{validateMethodBasicForm.$invalid}}
                  p form.$submitted = {{validateMethodBasicForm.$submitted}}
                  p form.$error = {{validateMethodBasicForm.$error | json}}
          h4 Multiple
          .bs-example
            ng-form.form
              .form-group
                easy-input(type='text', ng-model='demo.validation.multiple1', ng-disabled='disabled',
                label='"Required + Email"', placeholder='"placeholder"', validator='required, email')
          h4 Blur method
          .bs-example
            .row
              .col-xs-8
                ng-form.form(name='validateMethodBlurForm')
                  .form-group
                    easy-input(type='text', ng-model='demo.validation.methods.blur',
                    label='"required"', placeholder='"required"', validator='required', ng-disabled='disabled')
              .col-md-4
                pre {{demo.validation.methods.blur | json}}
                pre
                  p form.$pristine = {{validateMethodBlurForm.$pristine}}
                  p form.$dirty = {{validateMethodBlurForm.$dirty}}
                  p form.$valid = {{validateMethodBlurForm.$valid}}
                  p form.$invalid = {{validateMethodBlurForm.$invalid}}
                  p form.$submitted = {{validateMethodBlurForm.$submitted}}
                  p form.$error = {{validateMethodBlurForm.$error | json}}
          h4 Sumbit method
          .bs-example
            ng-form.form(name='validateMethodSubmitForm')
              .form-group
                easy-input(type='text', ng-model='demo.validation.methods.submit.text', name='validateMethodSubmitRequired'
                label='"Required"', placeholder='"Required"', validator='required', ng-disabled='disabled')
              .form-group
                easy-input(type='select', ng-model='demo.validation.methods.submit.select',
                label='"single select"', options='selectOptions', ng-disabled='disabled', validator='required')
              button.btn.btn-primary(easy-submit='validateMethodSubmitForm', ng-click='submit()') Submit

          h4 Event method
          .bs-example
            ng-form.form(name='validateMethodEventForm')
              .form-group
                easy-input(type='text', ng-model='demo.validation.methods.event', ng-disabled='disabled'
                label='"Required"', placeholder='"Required"', validator='required', valid-trigger-event='trigger-validate')
              button.btn.btn-primary(ng-click='trigValidation()') Trigger

          h4 Valid / Invalid Callback
          .bs-example
            ng-form.form(name='validateCallbackForm')
              .form-group
                easy-input(type='text', ng-model='demo.validation.callback', ng-disabled='disabled', name='validateCallback'
                label='"Required"', placeholder='"Required"', validator='required', valid-callback='validCallback()', invalid-callback='invalidCallback()')
              button.btn.btn-primary(easy-submit='validateCallbackForm') Submit

          h4 Customize Validation
          .bs-example
            ng-form.form(name='customValidateForm')
              .form-group
                easy-input(type='text', name='model1', ng-model='demo.validation.customize1', ng-disabled='disabled',
                label='"model 1"', validator='required')
              .form-group
                easy-input(type='text', name='model2', ng-model='demo.validation.customize2', ng-disabled='disabled',
                label='"model 2"', validator='required', custom-validator='customValid', valid-trigger-event='trigger-model2-validate')

        .bs-docs-section
          h3#ng-form-extend.page-header ngForm extend
          .bs-example

        .bs-docs-section
          h3#buttons.page-header Buttons
          h4 Submit loading
          .bs-example
          h4 Enable / Disable by validation
          .bs-example

        .bs-docs-section
          h3#i18n.page-header I18n
          .bs-example
            .row
              .col-md-8
                ng-form
                  .form-group
                    easy-input(type='text', ng-model='demo.i18n.inputs.text',
                    label='LABEL', placeholder='PLACEHOLDER', ng-disabled='disabled')
      .col-md-3
        .bs-docs-sidebar.hidden-print.hidden-xs.hidden-sm
          ul.nav.bs-docs-sidenav(data-spy="affix", data-offset-top="60", data-offset-bottom="200")
            li
              button.btn.btn-xs.btn-primary(ng-click='enable()') Enable
              button.btn.btn-xs.btn-default(ng-click='disable()') Disable
            li
              a(href='#inputs') Inputs
            li
              a(href='#static') Static
            li
              a(href='#layouts') Layouts
            li
              a(href='#validation') Validation
            li
              a(href='#ng-form-extend') ngForm extend
            li
              a(href='#buttons') Buttons
            li
              a(href='#i18n') I18n
            li
              button.btn.btn-xs.btn-primary(ng-click="changeLanguage('de')") DE
              button.btn.btn-xs.btn-default(ng-click="changeLanguage('en')") EN

  script(src='bower_components/jquery/dist/jquery.js')
  script(src='bower_components/jquery-ui/jquery-ui.js')

  // bower:js
  script(src='bower_components/angular/angular.js')
  script(src='bower_components/checklist-model/checklist-model.js')
  script(src='bower_components/angular-ui-select/dist/select.js')
  script(src='bower_components/rangy/rangy-core.js')
  script(src='bower_components/rangy/rangy-classapplier.js')
  script(src='bower_components/rangy/rangy-highlighter.js')
  script(src='bower_components/rangy/rangy-selectionsaverestore.js')
  script(src='bower_components/rangy/rangy-serializer.js')
  script(src='bower_components/rangy/rangy-textrange.js')
  script(src='bower_components/textAngular/src/textAngular.js')
  script(src='bower_components/textAngular/src/textAngular-sanitize.js')
  script(src='bower_components/textAngular/src/textAngularSetup.js')
  script(src='bower_components/angular-sanitize/angular-sanitize.js')
  script(src='bower_components/angular-elastic/elastic.js')
  script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
  script(src='bower_components/ng-tags-input/ng-tags-input.min.js')
  // endbower

  script(src='bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js')
  script(src='bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js')
  script(src='bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js')
  script(src='bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js')
  script(src='bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js')
  script(src='bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js')
  script(src='bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js')
  script(src='bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js')
  script(src='bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js')
  script(src='bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js')
  script(src='bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js')
  script(src='bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js')

  script(src='bower_components/angular-translate/angular-translate.js')

  script(src='scripts/module.js')

  script(src='scripts/providers/button.js')
  script(src='scripts/providers/form.js')
  script(src='scripts/providers/input.js')
  script(src='scripts/providers/template.js')
  script(src='scripts/providers/validation.js')

  script(src='scripts/directives/button.js')
  script(src='scripts/directives/form.js')
  script(src='scripts/directives/input.js')

  script(src='scripts/default/form-wrappers.js')
  script(src='scripts/default/input-wrappers.js')
  script(src='scripts/default/inputs.js')
  script(src='scripts/default/validation-rules.js')

  script(src='scripts/templates.js')

  script(src='scripts/demo.js')
