doctype html
html(lang="en", ng-app='demoApp')
head
    title Angular Easy Validation
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='demo.css')
body(ng-controller='DemoCtrl')
    .container
        h2 Angular Easy Form
        .row
            .col-md-9
                .bs-docs-section
                    h3#supported-controls.page-header Supported controls
                    h4 Inputs
                    p Most common form control, text-based input fields. Includes support for all HTML5 types:
                    ul
                        li text
                        li password
                        li datetime
                        li datetimeLocal
                        li date
                        li month
                        li time
                        li week
                        li number
                        li email
                        li url
                        li search
                        li tel
                        li color
                    .bs-example
                        .row
                            .col-md-8
                                ng-form.form
                                    .form-group
                                        easy-input(type='text', ng-model='demo.controls.inputs.text',
                                        label='"text"', placeholder='"please enter text"')

                                    .form-group
                                        easy-input(type='password', ng-model='demo.controls.inputs.password',
                                        label='"password"', placeholder='"please enter password"')

                                    .form-group
                                        easy-input(type='datetime', ng-model='demo.controls.inputs.datetime',
                                        label='"datetime"', placeholder='"please enter datetime"')

                                    .form-group
                                        easy-input(type='datetime-local', ng-model='demo.controls.inputs.datetimeLocal',
                                        label='"datetime local"', placeholder='"please enter datetime local"')

                                    .form-group
                                        easy-input(type='date', ng-model='demo.controls.inputs.date',
                                        label='"date"', placeholder='"please enter date"')

                                    .form-group
                                        easy-input(type='month', ng-model='demo.controls.inputs.month',
                                        label='"month"', placeholder='"please enter Text"')

                                    .form-group
                                        easy-input(type='time', ng-model='demo.controls.inputs.time',
                                        label='"time"', placeholder='"please enter time"')

                                    .form-group
                                        easy-input(type='number', ng-model='demo.controls.inputs.number',
                                        label='"number"', placeholder='"please enter number"')

                                    .form-group
                                        easy-input(type='email', ng-model='demo.controls.inputs.email',
                                        label='"email"', placeholder='"please enter email"')

                                    .form-group
                                        easy-input(type='url', ng-model='demo.controls.inputs.url',
                                        label='"url"', placeholder='"please enter date"')

                                    .form-group
                                        easy-input(type='search', ng-model='demo.controls.inputs.search',
                                        label='"search"', placeholder='"please enter search"')

                                    .form-group
                                        easy-input(type='tel', ng-model='demo.controls.inputs.tel',
                                        label='"tel"', placeholder='"please enter tel"')

                                    .form-group
                                        easy-input(type='color', ng-model='demo.controls.inputs.color',
                                        label='"color"', placeholder='"please enter color"')
                            .col-md-4
                                pre {{demo.controls.inputs | json}}
                    h4 Textarea
                    p Form control which supports multiple lines of text. Change rows attribute as necessary.
                    .bs-example
                        .row
                            .col-md-8
                                ng-form.form
                                    .form-group
                                        easy-input(type='textarea', ng-model='demo.controls.textarea.basic',
                                        label='"basic"', placeholder='"please enter something"')
                                    .form-group
                                        easy-input(type='textarea-autosize', ng-model='demo.controls.textarea.autosize',
                                        label='"autosize"', placeholder='"please enter something"')
                                    .form-group
                                        easy-input(type='text-angular', ng-model='demo.controls.textarea.textAngular',
                                        label='"textAngular"', placeholder='"please enter something"')
                            .col-md-4
                                pre {{demo.controls.textarea | json}}

                    h4 Checkboxes and radio (in progress)
                    .bs-example
                        .row
                            .col-md-8
                                ng-form.form
                                    .form-group
                                        easy-input(type='checkbox', ng-model='demo.controls.checkboxes.checkbox',
                                        label='"Boolean"', options='checkboxOptions')

                                    .form-group
                                        easy-input(type='checkboxes', ng-model='demo.controls.checkboxes.checkboxes',
                                        label='"checkboxes"', options='checkboxesOptions')

                                    .form-group
                                        easy-input(type='checkboxes-inline', ng-model='demo.controls.checkboxes.checkboxesInline',
                                        label='"checkboxes inline"', placeholder='"options of checkbox"')

                                    .form-group
                                        easy-input(type='radios', ng-model='demo.controls.checkboxes.radios',
                                        label='"radios"', placeholder='"options of checkbox"')

                                    .form-group
                                        easy-input(type='radios-inline', ng-model='demo.controls.checkboxes.radiosInline',
                                        label='"radios inline"', placeholder='"options of checkbox"')
                            .col-md-4
                                pre {{demo.controls.checkboxes | json}}
                    h4 Select(in progress)
                    .bs-example
                        .row
                            .col-md-8
                                ng-form.form
                                    .form-group
                                        easy-input(type='select', ng-model='demo.controls.select.basic',
                                        label='"single select"', options='selectOptions')
                                    .form-group
                                        easy-input(type='select-multiple', ng-model='demo.controls.select.multiple',
                                        label='"multiple select"', options='selectMultipleOptions')
                            .col-md-4
                                pre {{demo.controls.select | json}}

                    h4 ui-select (in progress)
                    .bs-example
                        .row
                            .col-md-8
                                ng-form.form
                                    .form-group
                                        easy-input(type='ui-select', ng-model='demo.controls.uiSelect.basic',
                                        label='"single ui-select"', options='uiSelectOptions')
                                    .form-group
                                        easy-input(type='ui-select', ng-model='demo.controls.uiSelect.multiple',
                                        label='"multiple select"', options='uiSelectMultipleOptions')
                            .col-md-4
                                pre {{demo.controls.uiSelect | json}}
                    h4 Custom
                    .bs-example
                .bs-docs-section
                    h3#layouts.page-header Layouts
                    h4 Vertical Form
                    .bs-example
                        ng-form.form
                            .form-group
                                easy-input(type='text', ng-model='modelLayoutVertial1',
                                label='"Text"', placeholder='"placeholder"')
                            .form-group.row
                                easy-input.col-md-6(type='text', ng-model='demo.layouts.withLabel'
                                label='"label"', placeholder='"with label"')
                                easy-input.col-md-6(type='text', ng-model='demo.layouts.withOutLabel'
                                placeholder='"without label"')
                    h4 Horizontal Form
                    .bs-example
                        ng-form.form
                    h4 Inline Form
                    .bs-example
                        ng-form.form
                .bs-docs-section
                    h3#validation.page-header Validation
                    h4 Basic
                    .bs-example
                        ng-form.form
                            .form-group
                                easy-input(type='text', ng-model='modelSingleValidation1',
                                label='"Text"', placeholder='"placeholder"', validator='required')
                    h4 Multiple
                    .bs-example
                        ng-form.form
                            .form-group
                                easy-input(type='text', ng-model='model1',
                                label='"Text"', placeholder='"placeholder"')
                    h4 Blur trigger
                    .bs-example

                    h4 Manual trigger
                    .bs-example

                .bs-docs-section
                    h3#ng-form-extend.page-header ngForm extend
                    .bs-example

                .bs-docs-section
                    h3#buttons.page-header Buttons
                    h4 Submit loading
                    .bs-example
                    h4 Enable / Disable by validation
                    .bs-example

                .bs-docs-section
                    h3#i18n.page-header I18n
                    .bs-example
            .col-md-3
                .bs-docs-sidebar.hidden-print.hidden-xs.hidden-sm
                    ul.nav.bs-docs-sidenav
                        li
                            a(href='#inputs') Inputs
                        li
                            a(href='#static') Static
                        li
                            a(href='#layouts') Layouts
                        li
                            a(href='#validation') Validation
                        li
                            a(href='#ng-form-extend') ngForm extend
                        li
                            a(href='#buttons') Buttons
                        li
                            a(href='#i18n') I18n
    // bower:js
    script(src='../bower_components/angular/angular.js')
    script(src='../bower_components/checklist-model/checklist-model.js')
    script(src='../bower_components/angular-ui-select/dist/select.js')
    script(src='../bower_components/textAngular/dist/textAngular.min.js')
    script(src='../bower_components/angular-sanitize/angular-sanitize.js')
    script(src='../bower_components/angular-elastic/elastic.js')
    // endbower
    script(src='../dist/angular-easy-form.js')
    script(src='demo.js')
